html, body {
  margin: 0;
  height: 100%;
}

body {
  background: black;
  transition: background 0.5s;
  animation-delay: 0.5s;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  text-shadow: 0px 0px 2px black;
}

a {
  margin-left: 5px;
  cursor: pointer;
}

#menu {
  position: absolute;
  z-index: 10;
  transition: opacity 0.5s;
  display: none;
}

li {
  cursor: pointer;
  font-size: 14px;
}

.pastel {
  background: #f29cfd;
  animation: pastel 60s infinite;
}

.pink {
  background: #ffe2f3;
  animation: pink 30s infinite;
}

.sea {
  background: lightcyan;
  animation: sea 30s infinite;
}

.sunny {
  background: #CC5803;
  animation: sunny 30s infinite;
}

.cloudy {
  background: #FBFBF2;
  animation: cloudy 20s infinite;
}

.forest {
  background: #19270d;
  animation: forest 60s infinite;
}

.citrus {
  background: #faffa7;
  animation: citrus 30s infinite;
}

.blues {
  background: #08146b;
  animation: blues 60s infinite;
}

.midnight-kisses {
  background: #d867d8;
  animation: midnight-kisses 60s infinite;
}

.midnight-skyscrappers {
  background: #75599b;
  animation: midnight-skyscrappers 60s infinite;
}

@keyframes pastel {
  20% { background: #aae8ff; }
  40% { background: #c2ffe5; }
  60% { background: #e7ffb3; }
  80% { background: #ffc8c8; }
}

@keyframes pink {
  20% { background: #ffc6ed; }
  40% { background: #ffb5eb; }
  60% { background: #ffa1e1; }
  80% { background: #ff89df; }
}

@keyframes sea {
  50% { background: cyan; }
}

@keyframes sunny {
  20% { background: #E2711D; }
  40% { background: #FF9505; }
  60% { background: #FFB627; }
  80% { background: #FFC971; }
}

@keyframes cloudy {
  20% { background: #E5E6E4; }
  40% { background: #CFD2CD; }
  60% { background: #A6A2A2; }
  80% { background: #847577; }
}

@keyframes forest {
  20% { background: #25591f; }
  40% { background: #818c3c; }
  60% { background: #72601b; }
  80% { background: #593a0e; }
}

@keyframes citrus {
  20% { background: #ffe578; }
  40% { background: #e4f9a9; }
  60% { background: #c7e77e; }
  80% { background: #ffeb98; }
}

@keyframes blues {
  20% { background: #20227a; }
  40% { background: #293590; }
  60% { background: #2f37ae; }
  80% { background: #4261a3; }
}

@keyframes midnight-kisses {
  20% { background: #ab41bd; }
  40% { background: #7f41bd; }
  60% { background: #4941bd; }
  80% { background: #25389a; }
}

@keyframes midnight-skyscrappers {
  20% { background: #453857; }
  40% { background: #231e14; }
  60% { background: #ac7c12; }
  80% { background: #f9d035; }
}
