html, body {
  margin: 0;
  height: 100%;
}

body {
  background: linear-gradient(lightcyan, cyan, darkcyan);
  transition: background 0.5s;
  animation-delay: 0.5s;
  overflow: hidden;
}

#tuna {
  width: 100px;
  height: 60px;
  position: absolute;
  top: 20%;
  right: calc(0% - 100px);
  background: url(./tuna.svg);
  background-size: contain;
  animation: tuna-swim 15s infinite;
}

#turtle {
  width: 150px;
  height: 90px;
  position: absolute;
  top: 0%;
  left: calc(0% - 150px);
  background: url(./turtle.svg);
  background-size: contain;
  transform: scaleX(-1);
  animation: turtle-swim 40s infinite;
  animation-delay: 5s;
}

#fugu {
  width: 160px;
  height: 80px;
  position: absolute;
  bottom: 15%;
  left: calc(0% - 160px);
  background: url(./fugu.svg);
  background-size: contain;
  transform: scaleX(-1);
  animation: fugu-swim 30s infinite;
  animation-delay: 10s;
}

#sperm-whale {
  width: 800px;
  height: 360px;
  position: absolute;
  top: 30%;
  right: calc(0% - 800px);
  background: url(./sperm_whale.svg);
  background-size: contain;
  animation: sperm-whale-swim 60s infinite;
  animation-delay: 20s;
}

.coral {
  width: 100px;
  height: 70px;
  position: absolute;
  bottom: 0%;
  background: url(./coral.svg);
  background-size: contain;
}

.seaweed {
  width: 100px;
  height: 70px;
  position: absolute;
  bottom: 0%;
  background: url(./seaweed.svg);
  background-size: contain;
}

#coral-1 {
  left: 20%;
}

#coral-2 {
  right: 10%;
}

#seaweed-1 {
  left: 30%;
}

#seaweed-2 {
  right: 20%;
}

#seaweed-3 {
  left: 0%;
}

@media screen and (max-width: 600px) {
  #seaweed-1, #seaweed-2 {
    display: none;
  }
}

@keyframes tuna-swim {
  from { right: calc(0% - 100px); }
  to { right: calc(100% + 100px); }
}

@keyframes turtle-swim {
  from { left: calc(0% - 150px); }
  to { left: calc(100% + 150px); }
}

@keyframes fugu-swim {
  0% { left: calc(0% - 160px); }
  40% { transform: scale(-1, 1); }
  60% { left: 50%; transform: scale(-1.5, 1.5); }
  80% { transform: scale(-1, 1); }
  100% { left: calc(100% + 160px); }
}

@keyframes sperm-whale-swim {
  from { right: calc(0% - 800px); }
  to { right: calc(100% + 800px); }
}
